<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <array>
    <dict>
      <key>AudioList</key>
      <array>
        <dict>
          <key>AudioBitrate</key>
          <string>Auto</string>
          <key>AudioEncoder</key>
          <string>AC3 Passthru</string>
          <key>AudioMixdown</key>
          <string>Automatic</string>
          <key>AudioSamplerate</key>
          <string>Auto</string>
          <key>AudioTrack</key>
          <integer>1</integer>
          <key>AudioTrackDRCSlider</key>
          <real>0.0</real>
          <key>AudioTrackDescription</key>
          <string>Unknown</string>
        </dict>
      </array>
      <key>ChapterMarkers</key>
      <integer>0</integer>
      <key>Default</key>
      <integer>0</integer>
      <key>FileFormat</key>
      <string>MP4 file</string>
      <key>Folder</key>
      <false />
      <key>Mp4HttpOptimize</key>
      <integer>0</integer>
      <key>Mp4LargeFile</key>
      <integer>0</integer>
      <key>Mp4iPodCompatible</key>
      <integer>0</integer>
      <key>PictureAutoCrop</key>
      <integer>1</integer>
      <key>PictureBottomCrop</key>
      <integer>0</integer>
      <key>PictureDeblock</key>
      <integer>0</integer>
      <key>PictureDecomb</key>
      <integer>0</integer>
      <key>PictureDecombCustom</key>
      <string />
      <key>PictureDecombDeinterlace</key>
      <integer>1</integer>
      <key>PictureDeinterlace</key>
      <integer>2</integer>
      <key>PictureDeinterlaceCustom</key>
      <string />
      <key>PictureDenoise</key>
      <integer>0</integer>
      <key>PictureDenoiseCustom</key>
      <string />
      <key>PictureDetelecine</key>
      <integer>0</integer>
      <key>PictureDetelecineCustom</key>
      <string />
      <key>PictureHeight</key>
      <integer>0</integer>
      <key>PictureKeepRatio</key>
      <integer>0</integer>
      <key>PictureLeftCrop</key>
      <integer>0</integer>
      <key>PictureModulus</key>
      <integer>0</integer>
      <key>PicturePAR</key>
      <integer>0</integer>
      <key>PictureRightCrop</key>
      <integer>0</integer>
      <key>PictureTopCrop</key>
      <integer>0</integer>
      <key>PictureWidth</key>
      <integer>720</integer>
      <key>PresetBuildNumber</key>
      <string>2011010300</string>
      <key>PresetDescription</key>
      <string>No Description</string>
      <key>PresetName</key>
      <string>Prospero Interlaced Source SD Encode (Imported)</string>
      <key>Type</key>
      <integer>1</integer>
      <key>UsesMaxPictureSettings</key>
      <integer>0</integer>
      <key>UsesPictureFilters</key>
      <integer>1</integer>
      <key>UsesPictureSettings</key>
      <integer>2</integer>
      <key>VideoAvgBitrate</key>
      <string />
      <key>VideoEncoder</key>
      <string>H.264 (x264)</string>
      <key>VideoFramerate</key>
      <string>Same as source</string>
      <key>VideFrameratePFR</key>
      <integer>0</integer>
      <key>VideoGrayScale</key>
      <integer>0</integer>
      <key>VideoQualitySlider</key>
      <real>20</real>
      <key>VideoQualityType</key>
      <integer>2</integer>
      <key>VideoTargetSize</key>
      <string />
      <key>VideoTurboTwoPass</key>
      <integer>0</integer>
      <key>VideoTwoPass</key>
      <integer>0</integer>
      <key>x264Option</key>
      <string>b-adapt=2:rc-lookahead=50:ref=11:b-pyramid=1:subq=10:no-fast-pskip=1:analyse=all:bframes=6:trellis=2:mixed-refs=1:me=umh:direct=auto</string>
    </dict>
  </array>
</plist>